.button {
    padding: 10px 15px;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-accent-text-color);
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Roboto",system-ui,sans-serif;
    border-radius: 10px;
    font-style: bold;
    font-size: 14px;
    font-weight: 500;
}

/* <div style="max-width: 100%; white-space: nowrap; display: flex; justify-content: center;"><div style="transform-origin: center center; flex-grow: initial; transform: scale(1);"> */