.button {
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-accent-text-color);
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Roboto", system-ui, sans-serif;
    border-radius: 10px;
    font-style: bold;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
